.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/
dsa-airflow/dags/client_secrets.json/
dsa-airflow/dags/client_secrets.json
client_secrets.json/
/client_secrets.json/
/client_secrets.json

dsa-airflow/dags/openai_predict.py/
dsa-airflow/dags/openai_predict.py
openai_predict.py/
/openai_predict.py/
/openai_predict.py