selenium 
pandas
jupyterlab 
gcsfs
fsspec
google-cloud-storage
google-cloud-bigquery
google-auth
beautifulsoup4
lxml
html5lib
pytz
tzwhere
apache-airflow-providers-google
apache-airflow[google]
openai
pydrive